.bg-red-2 {
    background-color: #c8102fb0;
}

.sub-title {
    font-size: 24px;
}

.my-title {
    font-size: 32px;
    font-weight: bold;
}

.icon-contato img {
    width: 40px;
    height: 40px;
}