*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --font-color:#C8102E;
    --color-white:#fff;
    --color-gray:#808080;
    --background-color:#f5f5dc;
}